/vendor
/node_modules
.env
/.idea
/public/files
/public/img/clients
/public/img/gallery
/public/img/product_categories
/public/img/products/*
/public/img/products/*/*
/public/img/sliders
/public/img/thumb